.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.page-footer {
  display: table;
  width: 100%;
  text-align: center;
}
.social-icons {
  display: table-cell;
  vertical-align: middle;
}
